*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
    background-color: #040E23;
    color: white;
}

.webgl
{
    width: 100%;
    height: 700px;
}

#ui>div {
  /* font-size: 20pt; */
  margin-right: 1em;
  display: inline-block;
}
#ui>div.selected {
  color: red;
  cursor: pointer;
}
